main.main{ 
    display: flex; 
    width: 70%;
}

/* CENTRE */

.card-header{
    cursor: pointer;
}

.image-upload>input{
    display: none;
}

div.card-footer{
    display: flex;
    justify-content: space-between;
}

.row{
    display: flex;
    justify-content: center;
    width:100%;
}

.text-area{
    display:flex;
    align-items: stretch;
    max-height: 250px;
}

.text-area img 
{
    max-height: 250px;
}

textarea.tweet_ici{
    border: none;
    padding: 15px;
    width: 100%;
    background-color: transparent;
    color: var(--colorText);
    min-height: 90px;
    max-height: 90px;
}


.tweetbtn{
    float: right;
    border-radius: 30px;
    background-color: var(--color-primary);
    color: var(--colorText);
}

.btnSubmit 
{
    border-radius: 30px;
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--colorText);
}


.paragraphe{
    color: grey;
    font-size: 15px;
}

.texte{  
    border-right: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
}

.welcome_to_twitter{
    padding: 30px;
    border-right: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
}

.les_icones{
    padding-bottom: 15px;
}

i{
    padding: 5px;
    color: var(--color-primary);
}

.icones{
    border-style: none;
    background-color: white;
}

.avatar{
    border: 1px solid lightgrey;
    border-radius: 50%;
    background-color: lightgrey;
    color: grey;
}

/* TWEET CARD */

.welcome_to_twitter .card
{
    background-color: var(--background);
    color: var(--colorText);
    border-color: var(--colorText);
}

.tweetAvatar
{
    width: auto;
    min-width: 30px;
}

.btnTweetContent
{
    border-radius: 30px;
    padding: 5px;
    background: var(--color-primary);
    color: var(--colorText);
    border-style: none;
}