/* Responsive */

@media screen and (max-width: 3000px) and (min-width: 1701px){
    .container{
        max-width: 3000px;
    }
    .side-bar{
        line-height: 55px;
    }
    .SideBarMobile{
        display: none;
    }
}

@media screen and (max-width: 1700px) and (min-width: 1202px){
    .sideBarTop{
        display: flex;
        position: absolute;
        left: 22%;
        width: 50%;
        background-color: var(--background);
    }
}

@media screen and (max-width: 1365px) and (min-width: 1201px){
    .sideBarTop{
        left: 25%;
    }
}

@media screen and (max-width: 1200px) {
    body{
        padding: 0 1em;
    }
    .side-bar{
        width: 75px;
    }
    .nav-item{
        padding: 9px 11px;
    }
    .nav-item .item-icon{
        margin-right: 0;
    }
    .nav-item .item-link{
        display: none;
    }
    .nav-item.hash{
         width: 48px;
         height: 48px;
         margin-left: 5px;
    }
    a.tweet-btn{
        font-size: 20px;
        width: auto;
        padding: 12px;
        margin-bottom: 20px;
    }
    a.tweet-btn .icon-btn-twt{
        display: block;  
    }
    a.tweet-btn .text{
        display: none;
    }
    .profile-info > div{
        display: none;
    }
    .profile-btn .option-icon{
        display: none;
    }
    img.profile-img{
        margin-right: 0;
    }
    a.profile-btn{
        width: 55px;
    }
    .SideBarMobile{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .sideBarTop{
        width: 80%;
        left: 12%;
    }
    .barre_recherche{
        display: none;
    }
    .mur_actu{
        flex: 0;
        min-width: 110%;
    }
}

@media screen and (max-width: 530px) {
    body{
        padding: none;
        box-sizing: border-box;
    }
    .container{
        height: 87vh;
      
    }
    .footer{
        height: 10vh;
        width: 100%;     
    }

    .side-bar{
        display: none;
    }
    
    .SideBarMobile{
        display: flex;
        width:100%;
        border-top: 1px solid #fff2;
        padding-top: 10px;
        flex-direction: row;
        justify-content: space-around;
        /* position: fixed; */
    }
    .SideBarMobile .nav-bar
    {
        flex-direction: row;
    }
    .SideBarMobile .nav-item{
        margin-left: 15px;
        margin-right: 15px;
    }
    .SideBarMobile .item-icon{
        font-size: 26px;
    }
    .SideBarMobile a.tweet-btn{
        position: absolute;
        right: 0;
        bottom: 70px;
        padding: 16px;
    }
    .SideBarMobile a.tweet-btn .icon-btn-twt{
        font-size: 24px;
    }
    .sideBarTop .profile-img{
        display: block;
        margin-right: 15px;
    }
}